<% provide(:title, 'Help') %>
<!DOCTYPE html>
<h1>Help</h1>

<div class="span6 offset3">
	<div>
		<center><p>This site is currently under development. If you need help with anything, you can contact the Data Manger, Ian Ellis, via email: ian@specri.com.</p></center>
	</div>
</div>
