<h2>Prosthesis Use</h2>
	<p><i>Now I would like to ask you some questions about prosthesis use.</i></p>
	<ol>
		<li>Do you currently have an artificial limb or prosthesis, even if it is not used regularly?</li>
		<%= select(:tc, :tc_pu_1, [["",nil],["Yes",1],["No",0],["Refused", 1000]],{}, :style => "width:70px")%>
		<div id="tc_prosthesis">
			<li>During the past week, on average how many hours during a typical day did you wear the prosthesis?</li>
			<%= f.number_field :tc_pu_2, :style => "width:70px" %>
			<li>In the past week, on average, how many days a week did you wear the prosthesis?</li>
			<%= f.number_field :tc_pu_3, :style => "width:70px" %>
		</div>
		<li>How often in the past week have you used a wheelchair? Would you say:</li>
		<%= select(:tc, :tc_pu_4,
		[["",nil],
		["All of the time",1],
		["Most of the time",2],
		["Some of the time",3],
		["None of the time",4],
		["Dont know",6],["Refused", 1000]],{}, :style => "width:200px")%>
	</ol>