<% provide(:title, @user.name) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<hr>
		</section>
		<div class="user_profile">
			<h2>Data Entry</h2>
			<body>Here is some data entry.</body>
		</div>
	</aside>
</div>

