<% provide(:title, 'Follow Up Log Creation') %>
<h1>DONT USE - For admin use only</h1>

<div class="row">
	<div class="span6 offset3">
		<div style="width:300px;margin:auto;">
 			<% if current_user.is? :admin %>
				<%= form_for :follow_up_log, url: follow_up_logs_path do |f| %>

					<%= f.select :site, [["Minneapolis", 5]] %>
					
					<%= f.submit "Create Follow Up Log", class: "btn btn-large btn-primary" %>
				<% end %> 
			<% end %>
		</div>
	</div>
</div>