<% provide(:title, 'Follow Up Log Creation') %>
<h1>Sign up</h1>

<div class="row">
	<div class="span6 offset3">
		<div style="width:300px;margin:auto;">
			<% if current_user.is? :admin %>
				<%= form_for :follow_up_log, url: follow_up_logs_path do |f| %>

					<%= f.select :site, [["Seattle", 1],["Houston", 2],["Cleveland", 3],["Tampa", 4]] %>
					
					<%= f.submit "Create Follow Up Log", class: "btn btn-large btn-primary" %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>