<h2>WHOQOL - BREF</h2>
	<p><i>Please read each question, assess your feelings, and circle the number on the scale for each question that gives the best answers for you.</i></p>
	<ol>
		<li>How would you rate your quality of life? <%= select(:subject, :fu6month_whoqol_1,
			[["",nil],
			["Very Poor",1],
			["Poor",2],
			["Neither poor nor good",3],
			["Good",4],
			["Very good",5]],{}, :style =>"width:200px")%></li>
		<li>How satisfied are you with your health? <%= select(:subject, :fu6month_whoqol_2,
			[["",nil],
			["Very dissatisfied",1],
			["Dissatisfied",2],
			["Neither satisfied nor dissatisfied",3],
			["Satisfied",4],
			["Very satisfied",5]],{}, :style =>"width:200px")%></li>
	</ol>