<div class="row">
	<div class="span6 offset3">
		<h1>Baseline</h1>
		<!-- http://railscasts.com/episodes/217-multistep-forms -->
			
	</div>
</div>
<%= render :partial => 'baseline' %>
<%= link_to 'Show', @subject %> |
<%= link_to 'Back', subjects_path %>