<h1>Editing subject</h1>
<div class="row">
	<div class="span6 offset3">
		<p>For testing purposes, the variable 'Study site' will show either Seattle (1) or Portland (2) or nil (any other value).</p>
			<%= render 'form' %>
	</div>
</div>

<%= link_to 'Show', @subject %> |
<%= link_to 'Back', subjects_path %>
