<h1>New subject</h1>
<div class="row">
	<div class="span6 offset3">
		<div class="span6 offset3" style="width:300px; margin:auto;">
			<%= render 'form' %>
		</div>
	</div>
</div>


<%= link_to 'Back', subjects_path %>
