<div class="row">
	<div class="span6 offset3" >
		<h2>Create New Group</h2>
			<center>Here you can create a new group by entering a group size (6-10) and selecting the correct study site.</center>
			<br/>


				</div>
			</div>
		<% end %>
	</div>
</div>	