<div class="row">
	<div class="span6 offset3" >
		<h2>Create New Group</h2>
			<center>Here you can create a new group by entering a group size (6-10) and selecting the correct study site.</center>
			<br/>

		<%= form_tag({controller: "subjects", action: "randomize"}, method: "post") do |f| %>
			<div class="span6 offset3 center" style="width:200px; margin:auto;">
				<div>
					Enter Group Size: 
					<%= select "test_rand_variable", {},
					[['',nil],
					["6",6],
					["7",7],
					["8",8],
					["9",9],
					["10",10]] %>
					Enter Subject IDs (Separated by commas):

					Select Study Site: 
					<%= select :study_site, {}, 
					[[' ', nil],
					["1 - Seattle", 1],
					["2 - Houston", 2],
					["3 - Cleveland", 3],
					["4 - Tampa", 4]] %>
					<%= submit_tag "Randomize", class: "btn btn-large btn-primary", :style => "width:100px" %>
				</div>
			</div>
		<% end %>
	</div>
</div>	