<div class="row">
	<div class="span6 offset3">
		<div style="width:1000px;margin:auto;">
			<h1>Screening Assesment</h1>
			<%= render 'screening' %>
	</div>
</div>

<%= link_to 'Show', @subject %> |
<%= link_to 'Back', subjects_path %>