@import "bootstrap";

/* variables - colors */

$grayMediumLight: #c2c2c2;
$grayLight: #eaeaea;
$grayLighter: #f5f5f5;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* adds a y-axis scroll bar */
html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center; 
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayMediumLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: black;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

/* Footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $grayLight;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* Sidebar */

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.6em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

/* Forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 4px 4px 4px 4px;
    color: #555555; /* Text color of response option*/
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}

/* Miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

