// Place all the styles related to the followUpLog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#followuplog_attribute_update {
	width: 150px;
	float:left;
}

#followuplog_attribute_update_body {
	width: 1000px;
	margin: auto;
}

#followuplog_submit_button {
	width: 200px;
	margin: auto;
}

.clear {
	clear: both;
}