<h2>WHOQOL - BREF</h2>
	<p><i>Please read each question, assess your feelings, and select the number on the scale for each question that gives the best answers for you.</i></p>
	<ol>
		<li><p>How would you rate your quality of life? <%= select(:baseline, :base_whoqol_1,
				[["",nil],
				["1 - Very Poor",1],
				["2 - Poor",2],
				["3 - Neither poor nor good",3],
				["4 - Good",4],
				["5 - Very good",5],["Refused", 1000]],{}, :style =>"width:auto")%></p></li>
		<li><p>How satisfied are you with your health? <%= select(:baseline, :base_whoqol_2,
				[["",nil],
				["1 - Very dissatisfied",1],
				["2 - Dissatisfied",2],
				["3 - Neither satisfied nor dissatisfied",3],
				["4 - Satisfied",4],
				["5 - Very satisfied",5],["Refused", 1000]],{}, :style =>"width:auto")%></p></li>
	</ol>