
<div id="Stop" style="margin:auto; text-align:center" >
<%= image_tag("stop.png", :alt => "Stop!") %>
<h2>Please alert the study coordinator that you have reached the cognitive tests section. The study coordinator will help you complete this section.</h2>
</div>