<h2>6 Month Status</h2>

<div id="crf_status">
			<p><i><strong>Please mark participant status</strong>. Please mark appropriately (for example, don't mark "Participant completed assessment" until you have finished the assessment).</i></p>
			<%= select(:followup6month, :fu6month_crf_status,
				[["",nil],
				["Participant completed assessment", 1],
				["Participant missed assessment but still enrolled", 2],
				["Participant formally withdrew", 3],
				["Participant lost to follow-up (unknown reason)", 4],
				["Participant did not begin intervention after randomization", 5],
				["Participant died", 6]], {}, :style => "width:auto") %>
		</div>